.main-div{
    height: auto;
    width: auto;
    border: 2px solid black;
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}


