{% extends "base.html" %}
{% load static %}

{% block title %} {{ note.title }} {% endblock %}
<link rel="icon" href="{% static 'notes-icon.png' %}" type="image/x-icon">
<link href="{% static "css/notatnik.css" %}" rel="stylesheet">

{% block content %}
    <div class="main-div">

        <a href="{% url 'notes_list' %}"><-</a>

        <div class="detail-div">
            <h1>{{ note.title }}</h1>
            <h3>{{ note.text }}</h3>
            <p>Status: {{ note.status }}</p>
            <p>Dodana przez {{ note.author }} o {{ note.time }}</p>
            <a href="{% url 'edit_note' note.id %}">Edytuj notatkę</a>
        </div>
    </div>
{% endblock %}