{% extends "base.html" %}
{% load static %}

{% block title %}Moje notatki{% endblock %}
<link rel="icon" href="{% static 'notes-icon.png' %}" type="image/x-icon">
<link href="{% static "css/notatnik.css" %}" rel="stylesheet">

{% block content %}
    <div class="main-div">
        <h1>Moje notatki</h1>
        {% for note in notes %}
            <h2><a href="{{ note.get_absolute_url }}">{{ note.title }}</a></h2>
            <p class="info">Opublikowany {{ note.time }} Status: {{ note.status }}</p>
            {{ note.text|truncatewords:30|linebreaks }}
        {% endfor %}
        <a href="{% url 'add_note' %}">Dodaj nową notatkę</a>
        {% include "pagination.html" with page=notes %}
    </div>
{% endblock %}
